#contacts {
  margin-top: 1rem;
  text-align: center;

  .MuiCircularProgress-root {
    align-self: center;
    margin-bottom: 0.75rem;
    text-align: center;

    svg {
      height: 3.5rem;
    }
  }
}
