$primary: #209cee;
$info: #00d1b2;
$success: #23d160;
$warning: #ffdd57;
$orange: #ff9900;
$danger: #ff3860;
$light: #ffffff;
$dark: #363636;
$dark-blue: #2e4880;
$darker: #2d2d39;
$body: #f9f5f5;

$text: #413e3e;
$link: #3273dc;
