input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 2rem $light inset !important;
  box-shadow: 0 0 0 2rem $light inset !important;
}

.Mui-required {
  .MuiInputLabel-asterisk,
  .MuiFormLabel-asterisk {
    color: $danger !important;
  }
}

.MuiDialogActions-spacing {
  margin-right: 15px;
}
